h2 {
    text-align: center;
    margin-bottom: 3ex;
}

div.centered-div {
    top: 10ex;
    position: relative;
    width: 50%;
}


label {
    font-size: 16px;
}

small {
    font-size: 13px;
    color: red;
}

div#completed-items-separator {
    background-color: #337ab7;;
    width: 100%;
    height: 1ex;
    margin-bottom: 4ex;
    border-radius: 10px;
}

#move-icon {
    position: relative;
    left: 0px;
    top: 25px;
}

#item-container:hover {
    background-color:#f5f5ff;
}



